@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PeydaWeb";
  src: url("/fonts/PeydaWeb.woff2") format("woff2"),
    url("/fonts/PeydaWeb.woff") format("woff"),
    url("/fonts/PeydaWeb.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  @apply text-red-800
}

h1 {
  @apply text-5xl md:text-6xl font-bold
}

h2 {
  @apply text-3xl font-semibold
}

h3 {
  @apply text-xl font-semibold
}